/* general */

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


/* background */
body {
    background-image: linear-gradient(0deg, rgba(177,117,181,0.43601190476190477) 0%, rgba(176,144,181,0.7189250700280112) 100%, rgba(123,105,130,0.44441526610644255) 100%, rgba(153,22,236,1) 100%), url("team.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/* header */
header {
    text-align: center;
    color: white;
}

h1, h3 {
    margin: 0;
    padding: 5px;
}

/* form */
form {
    background: rgba(102, 102, 153, .8);
    border-radius: 3px;
    max-width: 700px;
    margin: 10px auto;
    padding: 20px;
    font-size: 20px;
    color: white;
}

.small-text {
    font-size: 13px;
}

label, input {
    display: block;
    margin: 10px;
}

input {
    width: 97%;
}

.select {
    margin-left: 10px;
    width: 97%;

}

.radio, .check {
    display: inline;
    width: 15px;
}

textarea {
    margin-left: 10px;
    width: 97%;
    resize: vertical;
    min-height: 70px;
}

button {
    background-color: darkslateblue;
    display: block;
    margin: 10px auto;
    width: 97%;
    height: 50px;
    color: white;
    border-radius: 3px;
    border: none;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;

}

button:hover,
button:focus {
    background: darkgray;
    color:darkslateblue;
}

button:focus {
    outline: 1px solid #fff;
}
